@pia:registry=https://git.rmetalabs.ai/api/v4/projects/21/packages/npm/
'//git.rmetalabs.ai/api/v4/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"
'//git.rmetalabs.ai/api/v4/projects/21/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"